<div class="header bg-gradient-danger pb-8 pt-4">
  <div class="container-fluid">
  </div>
</div>
<div class="container-fluid mt--7">

  <div class="row mb-5">
    <div class="col-xl">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Ranking de usuarios</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas class="chart-canvas" id="chart-usuarios"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-xl">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Ranking de grupos</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas class="chart-canvas" id="chart-grupos"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-xl">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Ranking de usuarios por trabajos</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas class="chart-canvas" id="chart-trabajos"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div> 

</div>